<%= provide(:title, t(".title")) %>

<div class="max-w-2xl mx-auto">
  <%= render UI::Breadcrumb::Component.new do |breadcrumb| %>
    <% breadcrumb.with_item(href: root_path) { t(".panel") } %>
    <% breadcrumb.with_separator %>
    <% breadcrumb.with_item(active: true) { t(".page_title") } %>
  <% end %>

  <h1
    class="
      mb-6 text-4xl font-semibold font-heading text-zinc-900 dark:text-zinc-100
      tracking-tight
    "
  >
    <%= t(".page_title") %>
  </h1>

  <% if @entries.any? %>
    <%= turbo_frame_tag :feed, class: "space-y-4" do %>
      <%= render partial: "entry", collection: @entries %>
    <% end %>

    <% if @pagy.next %>
      <%= render partial: "next_page", locals: { pagy: @pagy } %>
    <% end %>
  <% else %>
    <%= render "no_entries" %>
  <% end %>
</div>
