<div>
  <div class="mb-4">
    <%= turbo_frame_tag :profile_feed, class: "space-y-4" do %>
      <% if @entries.any? %>
        <%= render partial: "entry",
        collection: @entries,
        cached: ->(entry) { [:profile_feed, entry, Current.user] } %>
      <% else %>
        <% if profile_owner? %>
          <%= render partial: "feed/no_entries" %>
        <% else %>
          <%= render partial: "no_entries" %>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <% if @pagy.next %>
    <%= render partial: "next_page", locals: { pagy: @pagy, user: @user } %>
  <% end %>
</div>
