<%= turbo_frame_tag :modal do %>
  <%= render UI::Modal::Component.new(
    open: true,
    class: "w-full max-w-sm"
  ) do |modal| %>
    <% modal.with_close_button %>

    <%= custom_form_with(
      model: @goal, 
      url: goal_update_progress_path(@goal), 
      data: { 
        turbo_frame: :_top,
        controller: "sum-updater", 
        sum_updater_base_value: @goal.current
    }) do |form| %>
      <%= form.hidden_field :current, data: { sum_updater_target: "fieldOutput" } %>

      <%= render UI::Modal::HeaderComponent.new do |header| %>
        <%= render UI::Modal::HeaderTitleComponent.new(class: "text-left") do %>
          <%= @goal.title.titleize %>
          <div class="text-sm text-zinc-600 dark:text-zinc-400">
            <%= localize(Time.zone.today).titleize %>
          </div>
        <% end %>
      <% end %>

      <%= render UI::Modal::BodyComponent.new(
        class: "text-left", 
      ) do %>
        <%= form.form_group :current do %>
          <%= render Form::TextField::Component.new(
            placeholder: 0,
            required: true,
            class: "text-center",
            data: {
              action: "input->sum-updater#update"
            },
            onenter: "this.form.requestSubmit()"
          ) %>
        <% end %>

        <div>
          <div class="form-input text-center" disabled>
            <span data-sum-updater-target="output"><%= strip_zeros(@goal.current) %></span> / <span><%= strip_zeros(@goal.target) %></span>
          </div>
        </div>
      <% end %>

      <%= render UI::Modal::FooterComponent.new(class: "flex justify-center gap-3") do %>
        <%= render UI::Button::Component.new(
          type: :button,
          color: :transparent,
          class: "w-full",
          data: {
            action: "click->modal#close"
          }
        ).with_content(t(".cancel")) %>

        <%= render UI::Button::Component.new(
          class: "w-full",
          type: :submit
        ).with_content(t(".submit")) %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
