<li class="flex flex-wrap items-center justify-start space-y-3 md:space-y-0 py-6 md:py-4">
  <div class="md:flex-1 w-full">
    <div class="flex md:items-center items-start space-x-3">
      <%= link_to profile_path(follow_request.requester.username) do %>
        <%= render UI::Avatar::Component.new(
          src: follow_request.requester.avatar.variant(:thumb),
          class: "md:size-10 size-16"
        ) %>
      <% end %>

      <div class="flex-1">
        <div class="flex">
          <%= link_to profile_path(follow_request.requester.username) do %>
            <h4 class="font-medium md:text-base text-lg leading-tight text-zinc-700 line-clamp-1 dark:text-zinc-50">
              <%= follow_request.requester.name.titleize %>
            </h4>
          <% end %>
        </div>

        <div class="flex">
          <%= link_to profile_path(follow_request.requester.username) do %>
            <h4 class="gont-light md:text-sm text-base text-zinc-500 leading-tight line-clamp-1 dark:text-zinc-300/80">
              <%= follow_request.requester.handle %>
            </h4>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="flex items-center justify-end md:w-1/12 w-full md:pt-0 pt-4">
    <%= render UI::Dropdown::Component.new(alignment: :right) do |dropdown| %>
      <% dropdown.with_trigger do %>
        <%= button_tag(
          type: :button,
          class: "flex relative z-40 md:w-10 md:h-9 py-3 px-4 md:px-0 md:py-0 w-full md:rounded-xl rounded-full bg-white focus:ring-4 focus:ring-zinc-300/30 items-center md:justify-center justify-between border md:border-transparent focus:border-zinc-300 border-zinc-300/80 hover:border-zinc-300  dark:hover:bg-zinc-800 dark:hover:border-zinc-600 dark:focus:bg-zinc-800 dark:focus:border-zinc-500 dark:bg-zinc-700/60 dark:text-white dark:border-zinc-500/30 dark:shadow-zinc-950/40 dark:hover:bg-zinc-800/90 dark:focus:ring-zinc-700/80 dark:focus:border-zinc-400/80"
        ) do %>
        <% render UI::Icon::Component.new(
          "ellipsis-horizontal", 
          class: "md:block hidden stroke-current w-6 h-6 flex-shrink-0 text-zinc-600/80 dark:text-zinc-200"
        ) %>
        <% end %>
      <% end %>

      <% dropdown.with_item do 
        link_to(
          t(".accept"), 
          "#",
          data: { turbo_method: :delete }
        ) %>
      <% end %>

      <% dropdown.with_item do 
        link_to(
          t(".reject"), 
          "#",
          data: { turbo_method: :delete }
        ) %>
      <% end %>
    <% end %>
  </div>
</li>
