<div class="md:flex justify-end md:flex-1 md:mr-4 mr-3 relative" data-controller="railsui-dropdown">
  <%= render Notifications::ToggleComponent.new(user_notifications:) %>

  <%= tag.div(
      class: style(:list_wrapper),
      data: {
        dropdown_target: "menu",
        transition_enter_from: "opacity-0 scale-95",
        transition_enter_to: "opacity-100 scale-100",
        transition_leave_from: "opacity-100 scale-100",
        transition_leave_to: "opacity-0 scale-95",
        railsui_dropdown_target: "menu"
      }
    ) do %>
    <% if user_notifications.any? %>
      <%= render Notifications::ItemComponent.with_collection(user_notifications) %>

      <%= link_to(href, class: style(:view_all_button)) do %>
        <span> <%= t(".see_all") %> </span>
        <%= render UI::Icon::Component.new("chevron-right", class: "w-4 h-4") %>
      <% end %>
    <% else %>
      <p class="text-center py-2"><%= t(".empty_state_message") %></p>
    <% end %>
  <% end %>
</div>
