<%= turbo_frame_tag :notification_toggle do %>
  <%= form_with url: user_notification_path(Current.user), method: :put do %>
    <%= render UI::Button::Component.new(
      variant: :rounded_outlined,
      color: :dark,
      class: "md:w-10 md:h-10 w-12 h-12",
      data: { action: "click->railsui-dropdown#toggle click@window->railsui-dropdown#hide" }
    ) do %>
      <div class="relative">
        <%= render UI::Icon::Component.new("bell", class: "md:w-5 md:h-5 w-6 h-6") %>

        <% if unread_notifications? %>
          <%= tag.span(class: style(:unread_indicator)) %>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>
