<%= custom_form_with model: [goal, progress_change, post] do |form| %>
  <%= form.form_group :progress do %>
    <%= render Goals::ProgressIndicator::Component.new(
      progress_change: progress_change,
    ) %>
  <% end %>

  <%= form.form_group :title do %>
    <%= form.label :title, nil, class: "form-label-required" %>
    <%= form.text_field :title %>
    <%= form.error_message :title %>
  <% end %>

  <%= form.form_group :body do %>
    <%= form.label :body, nil, class: "form-label-required" %>
    <%= form.textarea(
      :body,
      value:
        post.body ||
          t(
            ".default_body",
            old_value: strip_zeros(progress_change.old_value),
            new_value: strip_zeros(progress_change.new_value),
            remaining: strip_zeros(progress_change.remaining)
          ),
    ) %>
    <%= form.error_message :body %>
  <% end %>

  <div class="grid grid-cols-2 gap-6 pt-10">
    <%= render(
      UI::Button::Component.new(
        builder: :a,
        color: :white,
        href: goals_path,
        class: "cursor-pointer",
      ),
    ) { t(".go_back") } %>
    <%= form.submit value: t(".submit"),
                class: "w-full",
                data: {
                  disable_with: t(".submit"),
                } %>
  </div>
<% end %>
