<%= custom_form_with model: post do |form| %>
  <%= form.form_group :title do %>
    <%= form.label :title, nil, class: "form-label-required" %>
    <%= form.text_field :title %>
    <%= form.error_message :title %>
  <% end %>

  <%= form.form_group :body do %>
    <%= form.label :body, nil, class: "form-label-required" %>
    <%= form.textarea :body %>
    <%= form.error_message :body %>
  <% end %>

  <div class="grid grid-cols-2 gap-6 pt-10">
    <%= render(UI::Button::Component.new(builder: :a, color: :white, href: home_path, class: "cursor-pointer")) { t(".go_back") } %>
    <%= form.submit value: submit_text, class: "w-full", data: { disable_with: submit_text } %>
  </div>
<% end %>
