<%= turbo_frame_tag dom_id(@entry, :likes) do %>
  <div class="flex flex-col pb-4">
    <h3 class="text-xl font-semibold font-heading text-zinc-900
        dark:text-zinc-100 tracking-tight not-prose mb-4">
      <%= t(".likes", count: @entry.likes.count)%>
    </h3>
    <% if @likes.present? %>
      <div class="lg:max-h-[320px] lg:overflow-y-auto">
        <%= turbo_frame_tag dom_id(@entry, :likes_list), class: "space-y-4" do %>
          <%= render(
            partial: "like",
            collection: @likes,
            cached: ->(like) { [Current.user, like] },
          ) %>
        <% end %>

        <% if @entry.likes.count > 5 %>
          <%= turbo_frame_tag dom_id(@entry, :next_page) do %>
            <div class="mt-1">
              <%= render(LoadMoreButton::Component.new(
                href: entry_likes_path(@entry, page: 2, format: :turbo_stream)
              )) { t(".load_more_likes") } %>
            </div>
          <% end %>
        <% end %>
      </div>
    <% else %>
      <div class="py-4 text-zinc-900 dark:text-zinc-100 tracking-tight"><%= t(".without_likes")%><div>
    <% end %>
  </div>
<% end %>
