<%= turbo_stream.append dom_id(@entry, :likes_list) do %>
  <%= render(
    partial: "like",
    collection: @likes,
    cached: ->(like) { [Current.user, like] },
  ) %>
<% end %>

<% if @pagy.next %>
  <%= turbo_stream.update dom_id(@entry, :next_page) do %>
    <div class="mt-1">
      <%= render(LoadMoreButton::Component.new(
        href: entry_likes_path(@entry, page: @pagy.next, format: :turbo_stream)
      )) { t(".load_more_likes") } %>
    </div>
  <% end %>
<% else %>
  <%= turbo_stream.remove dom_id(@entry, :next_page) %>
<% end %>
