<div class="hidden lg:block py-4 border-t border-zinc-200 dark:border-zinc-600">
  <div>
    <div class="h5 text-zinc-900 dark:text-zinc-100 pb-3">
      <%= t(".social_stats") %>
    </div>

    <div class="flex gap-8">
      <div class="space-y-1">
        <h4 class="font-heading text-zinc-600 dark:text-zinc-400">
          <%= t("layouts.profiles.following") %>
        </h4>

        <p class="h4 text-zinc-900 dark:text-zinc-200">
          <%= @user.follows.count %>
        </p>
      </div>

      <div class="space-y-1">
        <h4 class="font-heading text-zinc-600 dark:text-zinc-400">
          <%= t("layouts.profiles.followers") %>
        </h4>

        <p class="h4 text-zinc-900 dark:text-zinc-200">
          <%= @user.followers.count %>
        </p>
      </div>
    </div>
  </div>
</div>
