<%= render UI::Header::Component.new do |header| %>
  <% header.with_logo do %>
    <%= render "shared/logo_color" %>
  <% end %>

  <% header.with_link(href: root_path).with_content("Painel") %>

  <% header.with_item do %>
    <div class="md:mr-4 mr-3">
      <%= render UI::Button::Component.new(
        variant: :rounded_outlined, 
        color: :dark,
        size: nil,
        class: "md:w-10 md:h-10 size-12"
      ) do |button| %>
        <% button.with_leading_icon("sun") %>
      <% end %>
    <div>
  <% end %>

  <% header.with_item do %>
    <div class="flex items-center justify-center">
      <%= render UI::Dropdown::Component.new(alignment: :right) do |dropdown| %>
        <% dropdown.with_trigger do %>
          <div class="flex items-center justify-center">
            <%= render UI::Button::Component.new(
              variant: :rounded, 
              color: :dark,
              size: nil,
              class: "md:w-10 md:h-10 size-12"
            ) do %>
              <%= render UI::Avatar::Component.new(
                src: "https://i.pravatar.cc/150?u=a042581f4e29026704d",
                size: nil,
                class: "md:w-10 md:h-10 size-12"
              ) %>
            <% end %>
          </div>
        <% end %>

        <%= dropdown.with_item(href: session_path, data: { turbo_method: :delete }) do %>
          Sair
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>
